@import 'styles/variables';

.button {
  width: 100%;
  padding: $padding-base;
  background-color: $button-color;
  color: $white-color;
  font-size: $fontsize-base;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
}
